main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 90vh;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

div#scan-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

img.svg {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    height: 10vh;
}

#flash-toggle.active {
    filter: invert(72%) sepia(99%) saturate(488%) hue-rotate(1deg) brightness(104%) contrast(104%);
}

#video-container {
    line-height: 0;
    border: 5px solid red;
    width: 90%;
    position: relative;
}

#qr-video {
    width: 100%;
    height: fit-content;
}

#scan-video-highlight {
    top: 50%;
    left: 50%;
}

#flash-toggle {
    display: none;
}